input.invalid {
    border: 2px solid red;
    background-color: rgb(255, 148, 148);
}

input.valid {
    border: 2px solid green;
    background-color: rgb(132, 255, 132);
}

div.error {
    color: red;
    font-size: 0.9em;
}