input.invalid {
    background-color: rgb(255, 148, 148);
    
}

input.valid {
    background-color: rgb(132, 255, 132);
}

input:valid {
    border: 3px solid green;
}

input.submitted:invalid {
    border: 3px solid red;
}

div.error {
    color: rgb(255, 255, 255);
    font-size: .95em;
    margin-top: 5px;
    padding: 2px;
}

form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
}

.input-control {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-items: center;
    width: 100%;
    margin-bottom: 10px;
}

input {
    width: 300px;
    padding: 3px;
    box-shadow: 3px 3px 5px grey;
    font-size: 14px;
    font-weight: 600;
}
label {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

button {
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid white;


    background-color: white;
    
}

body {
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

.error {
    width: 300px;
    padding-top: 5px;
}
